Package: com.mikenew.matrixbridge
Name: matrixbridge
Version: 0.0.1
Architecture: iphoneos-arm
Description: Connect your iMessage account to the Matrix chat network
Maintainer: Michael New
Author: Michael New
Section: Utilities
Depends: ${LIBSWIFT}
