Package: com.mikenew.apptest
Name: apptest
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: Michael New
Author: Michael New
Section: Utilities
Depends: ${LIBSWIFT}
